#trafficTop {
    background: black;
    height: 8rem;
    margin: 0 730px;

}

#container {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 27rem;
    margin: 0 650px;
    border-radius: 10%;
}

.red{
    background: red;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.yellow {
    background-color: yellow;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.green{
    background-color: green;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.purple{
    background-color: purple;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.selected {
    box-shadow: 0px 0px 25px yellow;
}